html,body{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    background-color: rgb(25, 26, 26);
}

header{
    width: 100%;

    background-color: black;

    padding:10px 20px;

    position: fixed;
    top: 0;
    z-index: 999;
}
.navbar{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50px;
    height: 50px;
    background-color: #555;
    border-radius: 10px;
    text-align: center; 
      
}
.distant{
    color: #fff;
    text-decoration: none;
    
}

.hamburguer{
    width: 30px;
    height: 30px;

    border-radius: 5px;
    position: relative;

    display: none;
    
}
.hamburguer::after{
    content: '';
    position: absolute;
    top: 30%;
    left: 5%;

    width: 90%;
    height: 4px;
    border-radius: 20px;

    background-color: #fff;

    transition: 1s ease;
}
.hamburguer::before{
    content: '';
    position: absolute;
    top: 60%;
    left: 35%;

    width: 60%;
    height: 4px;
    border-radius: 20px;

    background-color: #fff;

    transition: 1s ease;
}

#hamburguer:checked ~ label .hamburguer::after{
    transform: rotate(225deg);
    top: 45%;
    left: 5%;
}
#hamburguer:checked ~ label .hamburguer::before{

    width: 90%;
    height: 4px;
    
    transform: rotate(-225deg);
    top: 45%;
    left: 5%;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}
li{
    margin-left: 10px;
}
.stylemenu{
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    color: #555;
    
}
.stylemenu:hover{
    color: #fff;
    transition: 0.5s ease;
}


@media screen and (max-width: 980px){
    .hamburguer{
        display: block;
        z-index: 999;
        margin-right: 20px;
    }
    .menu{
        position: fixed;
        top: 0;
        right: -100%;

        height: 100vh;
        margin: 0;
        background-color: rgb(39, 38, 38);

        flex-direction: column;

        padding: 100px 20px;

        width: 100%;
        max-width: 200px;

        transition: 0.5s ease;

    }
    .menu.active{
        right: 0;
    }
}